/coverage
node_modules
/build
/dist
/.pnp.js
/.yarn
/tsconfig.json
/CHANGELOG.md
/reports
/storybook-static
/widget-registry
/public
/src/apps/*/locales/compiledStrings
/src/apps/*/locales/extractedStrings
/adr-docs/public
/adr-docs/config
.cache
.eslintrc.js
postcss.config.js
tailwind.config.js
src/.jest-test-results.json
