/coverage
node_modules
/build
/dist
/.pnp.js
/.yarn
/tsconfig.json
/website
/storybook-static
/reports
/widget-registry
/public
/src/apps/*/locales/compiledStrings
/src/apps/*/locales/extractedStrings
/adr-docs/public
.cache
src/.jest-test-results.json
